{% extends 'base.html' %}

{% block body %}
<div class="form">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/add_tag" method="POST">
        <label for="tag">Tag</label>
        <input type="text" name="tag">
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}