{% extends 'base.html' %}

{% block body %}
<h2>詳細ページ</h2>

<h2>タイトル : {{ post.title }}</h2>
<p>詳細 : {{ post.detail }}</p>
<p>期限 : {{ post.due.date() }}</p>
{% for tag in post.tags %}
    <p>タグ : {{ tag.tag_name }}</p>
{% endfor %}
<a href="/edit/{{ post.id }}" role="button">Update</a>
<a href="/delete/{{ post.id }}" role="button">Delete</a>
<h3>コメント</h3>
{% for comment in post.comments %}
    <p>{{ comment.content }}({{ comment.content_timestamp }})</p>
{% endfor %}

<div class="form">
    <form action="/add_comment" method="POST">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <label for="comment">コメント</label>
        <input type="text" name="comment">
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}