{% extends 'base.html' %}

{% block body %}
<h1>トップページ</h1>
<a href="/create" role="button">CREATE NEW TASK</a>
{% for post in posts %}
    <h2>タイトル : {{ post.title }}</h2>
    <p>期限 : {{ post.due.date() }}</p>
    {% for tag in post.tags %}
        <p>tag : <a href="/tag_list/{{ tag.id }}">{{ tag.tag_name }}</a></p>
    {% endfor %}
    <a href="/detail/{{ post.id }}" role="button">Detail</a>
    <a href="/edit/{{ post.id }}" role="button">Update</a>
    <a href="/delete/{{ post.id }}" role="button">Delete</a>
{% endfor %}
{% endblock %}